/* -------------------------
CSS TABLE OF CONTENTS

# BASE CONTENT (GLOBALS)
  # RESET
  # COLORS
  # TYPOGRAPHY
        # BODY
        # HEADINGS
        # PARAGRAPHS
        # LINKS
        # LISTS
        # BLOCK QUOTES
        # HELPERS
    # MEDIA
        # IMAGEES (Responsive)
    # COMPORNENTS/UI ELEMENTS
        # BUTTONS
# BASE LAYOUT
    # CONTENER
    # MEDIA QUERIES
    # GRID SYSTEM
 # SITE STRUCTURE
    # SITE HEADER
        # SITE ID
    # SITE MAIN
    # SITE FOOTER
    # SITE NAVIGATION
        # TOGGLE NAV
# SECTIONS
# SUB PAGES


    ------------------------ */
 /* GLOVAL RESETS */

    body { margin: 0;}
    * { box-sizing: border-box; }



/* TYPOGRAPHY */
body {
    font-family: miller-banner, serif;
    font-size: 80%; /* This sets the value of 1em */
    line-height: 1.2;
    color: rgba(31, 30, 30, 0.8);
}


/* HEADINGS */
 h1, h2, h3, h4, h5, h6 {
     margin: .5em 0;
    font-weight: normal;
    font-family: eurostile, sans-serif;
}

h1 {
    font-size: 3em; /* 48px based on a 16px em */
    line-height: 1;
}
h2{
    font-size: 2.25em; /* 36px based on a 16px em */
    line-height: 1.1;
}
h3 {
    font-size: 1.5em; /* 24px based on a 16px em */
    line-height: 1.2;
}
h4 {
    font-size: 1.3125em; /* 21px based on a 16px em */
    line-height: 1.3;
}
h5 {
    font-size: 1.125em; /* 18px based on a 16px em */
}
h6 {
    font-size: 1em; /* 16px based on a 16px em */ 
}

/* PARAGRAPHS */
p {
    max-width: 35em; 
}

/* TYPE SPECIMEN */
h2.section-head {
    text-align: center;
}
#about h5, #collection h5 {
    width: 500px;
    margin: 50px auto;
    text-align: center;  
}

/* LINKS */
h1 {
    font-family: eurostile, sans-serif;
}

a {
    text-decoration: none;
    color: rgba(31, 30, 30, 0.8);
}
a:hover {
    text-decoration: none;
    color:rgb(218, 73, 21);
}

/* HELPERS */
@media(min-width:768px){
.hideonlarge {
    visibility: hidden;
}
}
/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTON */
.button,button,input[type="submit"] {
    font-family: eurostile, sans-serif;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    background-color:black;
    color: rgb(218, 73, 21);
    padding: .2em 1em;
    border-radius: 2em;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1;
    text-align: center;
    margin-top: .5em;
}

.button:hover,button:hover,input[type="submit"]:hover {
    color: white;
    background:rgb(27, 22, 20);
    text-decoration: none;
}
.button.alt {
    background-color: transparent;
    color:rgb(88, 70, 64);
    border: 1.5px solid rgb(88, 70, 64);
    font-size: .95em;
}
.button.alt:hover {
    color: rgb(146, 215, 223);
    background-color: transparent;
    border: 1.5px solid rgb(39, 23, 20);
    }

/* BASE LAYOUT */


/* FOR SMALL-SIZE SCREEENS (and larger) */
body {
    font-size: 87.5%  /*  14px */ ;
}



/* CONTAINER */
.container {
    margin-left: 300px;
    margin-right: auto;
    padding: 0;
    
   
    /* overflow-x: hidden; */
    border: solid 1px rgb(6, 85, 41);
}

/* MEDIA QUERES */
  /* FOR MID-SIZE SCREEENS/TABLETS */
/* @media (min-width:768px) {  
} */

 /* FOR LARGE-SIZED SCREEENS/LAPTOPS */
@media (min-width:1000px) {
   body { font-size: 100%; }
        .container { max-width: 1000px; }
    }
    
  /* FOR EXTRA-LARGE-SIZE SCREEENS/DESKTOP MONITORS */
@media (min-width:1200px) {
    body { font-size: 112.5%; }
        .container { max-width: 1200px; }
}

/* GRID SYSTEM */
.column {
    margin-top: 1%;
    margin-bottom: 1%;
}

@media (min-width:768px) { 
    .row {
      display: flex;
      margin-left: -1%;
      margin-right: -1%;
  }
  .gallary-row {
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
}

  .column {
    flex-grow: 0;
    margin-left: 1%;
    margin-right: 1%;
    /* border: solid 1px red; */
}
    .one-whole { width: 100%}
    .one-half { width: 48%}
    .one-third { width: 31.333%}
    .push-one-third { margin-left: 34.333%;}
    .two-thirds { width: 64.6666%}
    .one-fourth { width: 23%}
    .one-fifth { width: 18.4%}
    .three-fourth { width: 69%}
    .push-one-fourth { margin-left: 26%;}
    .push-one-half { margin-left: 51%;}
    .push-one-third { margin-left: 34.333%;}
    .row.centered {
        justify-content: center;
    }
    .column.one-half {
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
    }
}

/* SITE STURCTURE */

/* SITE HEADER */
header.site-header  {
    margin: 0;
    font-family: eurostile, sans-serif;
    width: 25%;
    background-color: transparent;
    position: fixed;
    z-index: -1;
}

.site-header {
    padding: 0;  
}
.site-header .container {
    padding: 0;
}

@media (min-width: 768px) {
    .site-header {
      position: fixed;
      width: 300px;
    }

.site-header a {
    color: rgba(83, 82, 82, 0.8);
    text-decoration: none;
}
.site-header a:hover {
    color: rgb(218, 73, 21);
}

/* SITE FOOTER */

/* BG IMAGE --------------------------- */
footer {
    background-image: url(../img/mu_footerbg2000x800.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}
/* ------------------------------------- */

.site-footer .f-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; 
padding-top: 20px;
}
   
.site-info-menu {
    max-width: 500px;
    /* border: solid 1px blue; */   
}

.site-info-menu li a {
    list-style: none;
    width: 300px;
    height: auto;
    color: white;
}
.site-info-menu li a:hover {
    list-style: none;
    width: 300px;
    height: auto;
    color: rgb(218, 73, 21);
}

.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    list-style: none;
    margin: 1px;
    /* border: solid 1px blue; */
 }
 
.social-links .social-links:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
 }

li.social-links {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: auto; 
}

.social-links ul {
    padding-left: 35px;
}

.more-info {
    padding-right: 50px;
    /* border: solid 1px blue; */
}

.more-info h3 {
    color: #fff;
    font-size: .8em;
    text-align: right;
    font-family: miller-banner, serif; 
}

input.f-label {
    text-align: center;
    font-size: .8em;
    font-family: miller-banner, serif;
    padding: .5em 2em;

}
.logo-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px; 
}


/* SITE ID (LOGO) */
.site-id h1 {
     font-size: 1.5em;
     display: inline-block;    
}
.site-id a {
    display: inline-block;
    padding: .25em 0;
}
header.site-header {
    padding-left: 50px;
    min-height: 100%;   
}


/* SITE NAV (Primary Top Nav) */
.side-menu ul {
    margin: 0; 
    padding: 0;
    list-style: none;
    font-family: eurostile, sans-serif; 
}

li.menu-first {
    list-style: none;
    font-family: eurostile, sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
}

.menu-second li a {
    list-style: none;
    font-family: eurostile, sans-serif;
    font-size: 1.2em;
}

.menu {
    position: relative;
    width: 100%;
    /* height: 50px;
    max-width: 400px; */
    margin: 0 auto;
}

.menu > li {
   display: block;
    line-height: 2em;  
}

.menu > li a {
    display: block;
    color: black;
    font-size: .8em;
}

.menu > li a:hover {
    color: rgb(218, 73, 21);
}

ul.menu-second {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    padding-left: 100px; 
}


.menu > li:hover {
    color: rgb(218, 73, 21);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu-second li a:hover {
    color: #999;
    font-size: 1em;
}

.menu {
    *zoom: 1;
}


 .menu-item > li.menu-first {
    position: relative;
}

li.menu-first ul.menu-second {
    position: absolute;
    top: 40px;
    width: 100%;
    
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu-first:hover ul.menu-second {
    top: 50px;
    visibility: visible;
    opacity: 1;
}


/* MENU BUTTON */
.menu-button {
    position: absolute;
    left: -9999px;
    padding: .5em;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button::selection {
    color: none;
    background: none;
}


/* TOGGLE NAV */
@media (max-width: 767px) {

  .toggle-nav .site-id h1 {
       text-align: left;
    }
.toggle-nav .menu-button {
    position: absolute;
    left: auto;
    top: 1em;
    right: 1.5em;
}

.toggle-nav .site-nav {
    text-align: left;
}


/* HIDE NAV ON SMALL SCREEN BY DEFAULT */
.toggle-nav .site-nav ul {
    position: absolute;
    left: -9999px;
}


/* SHOW NAV ON SMALL SCREENS WHEN EXPANDED CLASS IS TOGGLE */
.toggle-nav.expanded .site-nav ul {
    position: static;
    left: auto;
    display: block;
    margin-top: 1em;
    /* transition: all .5s ease;  */
}

.toggle-nav.expanded .site-nav a {
   background: rgb(88, 70, 64);
  color: rgba(255, 255, 255, 1);
    margin: .5em 0;
    padding: 1em;
    }
}

.toggle-nav.expanded .site-nav a:hover {
    background:rgb(27, 22, 20) ;
}

/*  ANIMATION THE TOGGLE NAV */
.toggle-nav .site-nav ul {
    transition: all 1s ease;
    max-height: 0;
}

.toggle-nav.expanded .site-nav ul {
    /* transition: all 1s ease; */
    max-height: 400px;
}


/* NAVICON */
.navicon {
    color: rgba(0,0,0,0);
    padding: 0;
}

.navicon::after {
    content: "\2630";
    color: rgba(0,0,0,1);
    display: inline-block;
    font-size: 1.5em;
    transform: rotate(0deg);
}

.expanded .navicon::after {
    content: "\2715";
    transform: rotate(-90deg);
    transition: all .4s ease-out;
}

/* SITE MAIN (Main Content Area) */


/* SECTION */
section {
    padding-bottom: 50px;
}

h2.section-head {
    color: black;
}

/* HERO SECTION */ 
.container section#hero, section#collection {
    margin-top: 0;
    margin-bottom: 0;

}

h1.big-logo img {
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 3;
   bottom: 0px;
   left: 30%;
}

.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
}



.menu-dropdown li {
    list-style: none;
}

/* COLLECTION SECTION */
#collection .container {
    background-image: url(../img/collection-bg-2000x1200.jpg);
    background-size: cover;
    height: auto;
    text-align: center;
}
#collection img {
    background-color: white;
    border-radius: 50%;
}
#collection h1.main-head {
    font-size: 3em;
    font-weight: bold;
    color: black;
}
.column.one-fifth h6 p {
    color: white;
}

h6.p-title {
    color: black;
    text-transform: uppercase;
    line-height: .1em;
    padding-top: 20px;
}

p.p-mane {
    color: black;
    font-family: eurostile, sans-serif;
    font-weight: bold;
    line-height: .1em;
    
}
p.p-mane span {
    color: black;
    font-family: eurostile, sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: .1em;
}

p.price {
    color: black;
    font-family: eurostile, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: .8em;
    line-height: .1em;
    padding-bottom: 50px;
}

#wrapper {
	padding: 0 0 50px 0;
}

/* ------------------------------
   .slideWrap
------------------------------ */
.slideWrap {
	margin: 0 auto;
	padding: 50px 0 100px 0;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.slideWrap .btnPrev,
.slideWrap .btnNext {
	bottom: 0;
	width: 30px;
	height: 30px;
	position: absolute;
	transition: all 0.2s ease-in-out;
}

.slideWrap .btnPrev {
	left: 400px;	
}
.slideWrap .btnPrev:after {
	content: '<';
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: black;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	display: block;
}
.slideWrap .btnNext {
	right: 400px;
}

.slideWrap .btnNext:after {
	content: '>';
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: black;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	display: block;
}
/* ------------------------------
   .carousel
------------------------------ */
.carousel {
	margin: 0 auto;
	width: 600px; /* リストが何個以上あったらスライドを実行させるかの基準値 */
	height: 250px;
	position: relative;
	visibility: hidden;
}

.carousel .movePanel {
	top: 0;
	right: 0;
	height: 250px;
    position: absolute;
    
  
}
.carousel ul {
	float: left;
}

.carousel ul li {
	margin: 0 30px;
	width: 120px;
	height:120px;
	border-radius: 50%;
	line-height: 1.2em;
	text-align: center;
	float: left;
	display: block;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	box-shadow: 0 0 5px #999;
	background: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.carousel ul li a {
	display: block;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.carousel ul li a:hover {
	opacity: 0.8;
}

.carousel ul li img {
	width: 100%;
	border-radius: 50%;
}


.carousel ul li.mainActive {
	z-index: 10;
	-webkit-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	
}
.carousel ul:after {
	content: "";
	display: none;
	clear: none;
}


/* CONTACT SECTION */
#contact h3 {
    font-family: miller-banner, serif;
    font-weight: bold;
}
#contact h4 {
  /* font-family: miller-banner, serif;  */
  font-family: eurostile, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic;
}
.contact-form {
    padding-top: 10px;
}

#contact span {
    font-style: italic;
}
#contact p.info {
    line-height: .3em;
}

#contact blockquote {
    font-family: eurostile, sans-serif;
}

#contact .column.one-half img {
    align-content: center;
    height: 80%;
}

blockquote{
    font-size: 1.5em;
    line-height: 1.2em;
    /* font-style: italic; */
    font-weight: bolder;
}
label {
    font-family: miller-banner, serif;
}
label, input {
    display: block;
}
label, input[type="text"],textarea {
   width: 100%;
   line-height: 1em;
}
input, textarea {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: .5em;
    font-size: inherit;
}
textarea {
    height: 80px;
    margin-top: .5em;
    margin-bottom: 0;
}
label {
    margin-top: .5em;
    margin-bottom: 0;
}
input[type="text"] {
    margin-top: .5em;
    margin-bottom: .2em;
}


/* -------------------------- */
/* -------------------------- */
/* -------------------------- */



/* FOR LAYOUT DEMO PURPOSES ONLY */
.demo .column {
    background: rgba(0, 0, 0, 0.2);
    padding: .5em;
    text-align: center;
}

.demo .column p {
    max-width: none;
}

/* FOR SMALL-SIZED SCREENS (and Larger) */
body.demo::before {
    content: "Small Screen (0 - 767px)";
    display: block;
    background: red;
    color: white;
    text-align: center;
    padding: .2em;
    font-size: .8em;
}

/* FOR MID-SIZED SCREENS (and Larger) */
@media (min-width: 768px) {
    body.demo::before {
        content: "Mid Screen (768px - 999px)"; 
        background: blue;  
    }
}

/* FOR LARGE-SIZED SCREENS/LAPTOPS (and Larger) */
@media (min-width: 1000px) {
    body.demo::before {
        content: "Large Screen (1000px - 1199px)"; 
        background: green;  
    }
}

/* FOR EXTRA LARGE-SIZED SCREENS/DESKTOP MONITOP (and Larger) */
@media (min-width: 1200px) {
    body.demo::before {
        content: "ED-Large Screen (1000px - 1199px)"; 
        background: green;  
    }
}}









